.footer {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #afb8c1;
  background-color: #2f3232;
  padding: 24px;

  @media (max-width: 991px) {
    flex-flow: column;
    padding: 10px;
  }

  a {
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: #fff;
    }
  }

  .copyright {
    font-size: 12px;
  }
}
