.wp-block-kevinbatdorf-code-block-pro {
  background-color: #1e1e1e;
  width: 100%;
  border-radius: 6px;
  box-sizing: border-box;
  overflow-x: scroll;

  span {
    border-radius: 6px 6px 0 0;
    box-sizing: border-box;
    &.line {
      padding-right: 16px;
    }
  }
  & > span:first-child {
    position: absolute;
    width: 100px !important;
  }

  pre {
    padding: 32px 16px 8px 16px;
    border-radius: 0 0 6px 6px;
  }
}

body {
  overflow-wrap: anywhere;
  p {
    line-height: 1.8;
  }

  img {
    max-width: 100%;
    height: unset;
  }

  iframe {
    max-width: 100%;
  }

  .wp-block-quote {
    margin: 16px 0;
  }
}
