.main-wrapper {
  background-color: #f5f5f5;
  display: grid;
  min-height: calc(100vh - 184px);

  @media (max-width: 991px) {
    grid-template:
      'centerContents' auto
      'rightContents' auto
      'leftContents' auto;
    padding: 24px 0;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    gap: 32px 24px;
    grid-template:
      'centerContents rightContents' auto
      'centerContents leftContents' 1fr / 1fr 300px;
    max-width: 1656px;
    padding: 24px;
  }
  @media (min-width: 1200px) {
    gap: 32px;
    grid-template-areas: 'leftContents centerContents rightContents';
    grid-template-columns: 248px 1fr 300px;
    max-width: 1656px;
    padding: 24px;
    margin: auto;
  }
}

.left-contents {
  grid-area: leftContents;
}

.right-contents {
  grid-area: rightContents;

  @media (max-width: 991px) {
    margin-top: 24px;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    padding-right: 24px;
  }
  @media (min-width: 1200px) {
    padding-right: 16px;
  }
}

.center-contents {
  grid-area: centerContents;

  @media (max-width: 991px) {
    width: 100vw;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    width: calc(100vw - 300px - 48px);
  }
  @media (min-width: 1200px) and (max-width: 1656px) {
    width: calc(100vw - 300px - 300px - 48px);
  }
  @media (min-width: 1657px) {
    width: 1019px;
  }
}

.more-button-wrapper {
  margin-top: 24px;
}

.post-link {
  width: 100%;
  margin-top: 24px;
  display: block;
  color: #333;
  text-decoration: none;

  &:first-child {
    margin-top: 0;
  }

  &:visited {
    color: #333;
  }
}
